# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables

# Cmake
CMakeFiles/
CMakeCache.txt
CMakeLists.txt
cmake_install.cmake


# Debug files
*.dSYM/
